{% extends "student-dashboard.html" %}

{% block content %}{{ block.super }}
<div class="container-fluid">
    <h2>آخرین تمرین ها</h2>
    <div class="card-panel">
      {% if request.user.is_superuser %}
        <table>
          <thead>
            <tr>
                <th class="right-align">موضوع</th>
                <th class="right-align">عنوان تمرین</th>
                <th class="center-align">تاریخ ارسال</th>
                <th class="center-align">وضعیت</th>
                <th class="center-align">انجام شدن</th>
            </tr>
          </thead>
          <tbody>
            {% for chat in page.object_list %}
                <tr>
                  <td class="right-align"><a href="{{ chat.abs_url }}">{{ chat.group.user }}</a></td>
                  <td class="right-align">{{ chat.group.content_object.title }}</td>
                  <td class="center-align">{{ chat.jd_create_datetime }}</td>
                  <td class="center-align"><span class="badge {{ chat.status_color }} white-text">{{ chat.status }}</span></td>
                  <td class="center-align"><span class="badge {{ chat.done_color }} white-text">{{ chat.done_status }}</span></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
    <div id="default-search-btns" class="center">
        صفحه {{ page_num }} از {{ num_pages }}
        <br>
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}" class="btn">بعدی <i class="material-icons right">navigate_next</i></a>
        {% endif %}
        {% if page.has_previous %}
          <a href="?page={{ page.previous_page_number }}" class="btn">قبلی <i class="material-icons left">navigate_before</i></a>
        {% endif %}
      </div>
      <br>
</div>
{% endblock content %}