<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    <ul id="slide-out" class="sidenav sidenav-fixed right">
      <li><div class="user-view">
        <div class="background">
          <img src="http://materializecss.com/images/office.jpg">
        </div>
        <a href="#user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
        <a href="#name"><span class="white-text name">John Doe</span></a>
        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">bookmark</i>موارد ذخیره شده</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">school</i>دوره های من</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">comment</i>ارتباط با محمدرضا</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">pie_chart_outlined</i>وضعیت تحصیلی من</a></li>
      <li><div class="divider"></div></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">person</i>پروفایل</a></li>
      <li><a class="waves-effect" href="#!"><i class="material-icons right">settings</i>تنظیمات</a></li>
    </ul>
    
          
    <main>
      <nav class="white" role="navigation">
        <div class="nav-wrapper container ltr">
          <a id="logo-container" href="#" class="brand-logo">PyTeacher</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">خانه</a></li>
          </ul>

          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">خانه</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>

    
      <div class="container">
        <div class="section">

          <div class="row">
            <h2>دوره های من</h2>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="http://materializecss.com/images/sample-1.jpg">
                  <span class="card-title">پایتون مقدماتی</span>
                </div>
                <div class="card-content">
                  <p>در این دوره سعی کرده ایم که به شما پایتون را به صورت کاربردی و پروژه محور یاد بدهیم. امیدواریم که مفید بوده باشد.</p>
                </div>
                <div class="card-action">
                  <a href="#">شرکت در این دوره</a>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="http://materializecss.com/images/sample-1.jpg">
                  <span class="card-title">پایتون مقدماتی</span>
                </div>
                <div class="card-content">
                  <p>در این دوره سعی کرده ایم که به شما پایتون را به صورت کاربردی و پروژه محور یاد بدهیم. امیدواریم که مفید بوده باشد.</p>
                </div>
                <div class="card-action">
                  <a href="#">شرکت در این دوره</a>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="http://materializecss.com/images/sample-1.jpg">
                  <span class="card-title">پایتون مقدماتی</span>
                </div>
                <div class="card-content">
                  <p>در این دوره سعی کرده ایم که به شما پایتون را به صورت کاربردی و پروژه محور یاد بدهیم. امیدواریم که مفید بوده باشد.</p>
                </div>
                <div class="card-action">
                  <a href="#">شرکت در این دوره</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </main>
    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">مطالب سایت</h5>
            <ul>
              <li><a class="white-text" href="#!">آخرین مقالات</a></li>
              <li><a class="white-text" href="#!">آخرین ویدئو ها</a></li>
              <li><a class="white-text" href="#!">دوره های آنلاین</a></li>
              <li><a class="white-text" href="#!">دوره های حضوری</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">لینک های مفید</h5>
            <ul>
              <li><a class="white-text" href="#!">ورود</a></li>
              <li><a class="white-text" href="#!">عضویت</a></li>
              <li><a class="white-text" href="#!">درباره من</a></li>
              <li><a class="white-text" href="#!">ارتباط با من</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        ساخته شده توسط <a class="brown-text text-lighten-3" href="http://materializecss.com">محمدرضا کسائی</a>
        </div>
      </div>
    </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav({edge: 'right'});
    });
  </script>

  </body>
</html>
